name: Code Coverage

on:
  push:
    branches: [main, "release/*"]
  pull_request:
    branches: [main, "release/*"]

jobs:
  codecov:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
          python-version: '3.10'

    - name: Install dependencies
      run: |
          pip install -r requirements/test.txt
          pip install -e .

    - name: Run tests and collect coverage
      run: pytest --cov .

    - name: Codecov
      uses: codecov/codecov-action@v3.1.4
      env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
